<span style="color:blue">DAY-15</span>

<span style="color:red;"><b> "Printing patterns" </b></span>

In [2]:
# right angled triangle
n = 5
for i in range(1, n + 1):
    print("*" * i)

*
**
***
****
*****

In [3]:
#inverted triangle
for i in range(n, 0, -1):
    print("*" * i)

*****
****
***
**
*

In [4]:
#pyramid pattern
for i in range(n):
    print(" " * (n - i - 1) + "* " * (i + 1))

    *
   * *
  * * *
 * * * *
* * * * *

In [5]:
#number triangle
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [6]:
#Floyd's Triangle
num = 1
for i in range(1, n + 1):
    for j in range(i):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [7]:
#diamond pattern
for i in range(n):
    print(" " * (n - i - 1) + "* " * (i + 1))
for i in range(n - 2, -1, -1):
    print(" " * (n - i - 1) + "* " * (i + 1))

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *