<span style="color:blue">DAY-4</span>

<span style="color:red;"><b> Strings </b></span>

<p style="color: purple; font-style: italic;">
  One place where the Python language really shines is in the manipulation of strings. This section will cover some of Python's built-in string methods and formatting operations.
</p>

<p style="color: purple; font-style: italic;">
  Such string manipulation patterns come up often in the context of data science work.
</p>

<p style="color: purple; font-style: italic;">
  <strong>String syntax</strong><br>
  You've already seen plenty of strings in examples during the previous lessons, but just to recap, strings in Python can be defined using either single or double quotations. They are functionally equivalent.
</p>

In [4]:
x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

True

In [5]:
print("Pluto's a planet!")
print('My dog is named "Pluto"')

Pluto's a planet!
My dog is named "Pluto"

In [11]:
triplequoted_hello = """hello
world"""
print(triplequoted_hello)

hello
world

In [12]:
print("hello")
print("world")
print("hello", end='')
print("pluto", end='')

hello
world
hellopluto

In [13]:
# Indexing
planet = 'Pluto'
planet[0]

'P'

In [14]:
# Slicing
planet[-3:]

'uto'

In [15]:
# Yes, we can even loop over them
[char+'! ' for char in planet]

['P! ', 'l! ', 'u! ', 't! ', 'o! ']

In [16]:
# ALL CAPS
claim = "Pluto is a planet!"
claim.upper()

'PLUTO IS A PLANET!'

In [17]:
# all lowercase
claim.lower()

'pluto is a planet!'

In [18]:
# Searching for the first index of a substring
claim.index('plan')

11

In [19]:
# Going between strings and lists: .split() and .join()Â¶
# # str.split() turns a string into a list of smaller strings,
# breaking on whitespace by default. 
# This is super useful for taking you from one big string to a list of words.

In [30]:
a = ""
length = 0
is_empty = bool(a)  # This will be False because the string is empty

print("Is 'a' non-empty?", is_empty)

Is 'a' non-empty? False

<p>
  There is a saying that "Data scientists spend 80% of their time cleaning data, and 20% of their time complaining about cleaning data." 
  Let's see if you can write a function to help clean US zip code data.
</p>

<p>
  Given a string, it should return whether or not that string represents a valid zip code. 
  For our purposes, a valid zip code is any string consisting of exactly 5 digits.
</p>

<p>
  <strong>HINT:</strong> <code>str</code> has a method that will be useful here. 
  Use <code>help(str)</code> to review a list of string methods.
</p>

In [ ]:
def is_valid_zip(zip_code):
    return len(zip_code) == 5 and zip_code.isdigit()

<span style="color:red;"><b> Dictionary </b></span>

<p style="color: purple; font-style: italic;">
  Dictionaries are a built-in Python data structure for mapping keys to values.
</p>

In [22]:
numbers = {'one':1, 'two':2, 'three':3}

In [23]:
numbers['one']

1

In [24]:
numbers['eleven'] = 11
numbers

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

In [25]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}