<span style="color:blue"># DAY-2</span>

<span style="color:red;"><b> Arithmetics and Variables</b></span>

<div style="color:purple;">
<i>
<p>In general, to work with a variable, you need to begin by selecting the name you want to use. Variable names are ideally short and descriptive. They also need to satisfy several requirements:</p>
<ul>
  <li>They can't have spaces (e.g., <code>test var</code> is not allowed)</li>
  <li>They can only include letters, numbers, and underscores (e.g., <code>test_var!</code> is not allowed)</li>
  <li>They have to start with a letter or underscore (e.g., <code>1_var</code> is not allowed)</li>
</ul>
</i>
</div>

In [10]:
my_var=3
print(my_var)

name = 'Saurabh'
print(name)

3
Saurabh

<span style="color:red;"><b> Keywords</b></span>

<div style="color:purple;">
<i>
<p>PYTHON IS CASE SENSITIVE</p>
<ul>
  <li><code>Keywords</code>: reserved words, special meanings
</li>
  <li> Cannot use as <code>variable names</code></li>
</ul>
</i>
</div>

In [8]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

<span style="color:red;"><b> Data Types</b></span>

<div style="color:purple;">
<i>
<p><b>Introduction</b></p>

<p>Whenever you create a variable in Python, it has a value with a corresponding data type. There are many different data types, such as integers, floats, booleans, and strings, all of which we'll cover in this lesson. (This is just a small subset of the available data types -- there are also dictionaries, sets, lists, tuples, and much more.)</p>

<p>Data types are important, because they determine what kinds of actions you can do with them. For instance, you can divide two floats, but you cannot divide two strings. For instance, <code>12.0 / 2.0</code> makes sense, but <code>"cat" / "dog"</code> does not.</p>

<p>To avoid errors, we need to make sure that the actions match the data types that we have.</p>
</i>
</div>

In [11]:
#Integers
x=14
print(x)
print(type(x))

14
<class 'int'>

In [12]:
#Float
x= 3.141592653589793238462643383279502884197169399375105820974944
print(x)
print(type(x))

3.141592653589793
<class 'float'>

In [14]:
rounded_pi = round(x, 5)
print(x)
print(type(x))

3.141592653589793
<class 'float'>

In [16]:
#Boolean
x=True
print(x)
print(type(x))

True
<class 'bool'>

In [17]:
z_three = (1 < 2)
print(z_three)
print(type(z_three))

True
<class 'bool'>

In [18]:
#String
x="Python"
print(x)
print(type(x))

Python
<class 'str'>

In [19]:
print(len(x))
shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

6
<class 'str'>
0

## Question 

In this question, you will build off your work from the previous exercise to write a function that estimates the value of a house.

Use the next code cell to create a function `get_expected_cost` that takes as input three variables:
- `beds` - number of bedrooms (data type float)
- `baths` - number of bathrooms (data type float)
- `has_basement` - whether or not the house has a basement (data type boolean)

It should return the expected cost of a house with those characteristics. Assume that:
- the expected cost for a house with 0 bedrooms and 0 bathrooms, and no basement is 80000, 
- each bedroom adds 30000 to the expected cost,
- each bathroom adds 10000 to the expected cost, and
- a basement adds 40000 to the expected cost.

For instance,
- a house with 1 bedroom, 1 bathroom, and no basement has an expected cost of 80000 + 30000 + 10000 = 120000.  This value will be calculated with `get_expected_cost(1, 1, False)`.
- a house with 2 bedrooms, 1 bathroom, and a basement has an expected cost of 80000 + 2*30000 + 10000 + 40000 = 190000.  This value will be calculated with `get_expected_cost(2, 1, True)`.

Remember you can always get a hint by uncommenting `q3.hint()` in the code cell following the next!

In [43]:
def get_expected_cost(beds, baths, has_basement):
    starting_cost=80000
    bedroom_cost=30000
    bathroom_cost=10000
    basement_cost=40000
    value = starting_cost+bedroom_cost*beds+bathroom_cost*baths+basement_cost*has_basement
    return value

In [44]:
get_expected_cost(4,3,True)

270000

In [45]:
print(False + False)
print(True + False)
print(False + True)
print(True + True)
print(False + True + True + True)

0
1
1
2
3

In [ ]:
## Question
You own an online shop where you sell rings with custom engravings. You offer both gold plated and solid gold rings.

Gold plated rings have a base cost of $50, and you charge $7 per engraved unit.
Solid gold rings have a base cost of $100, and you charge $10 per engraved unit.
Spaces and punctuation are counted as engraved units.
Write a function cost_of_project() that takes two arguments:

engraving - a Python string with the text of the engraving
solid_gold - a Boolean that indicates whether the ring is solid gold
It should return the cost of the project. This question should be fairly challenging, and you may need a hint.

In [46]:
def cost_of_project(engraving, solid_gold):
    if solid_gold:
        base_cost = 100
        per_unit_cost = 10
    else:
        base_cost = 50
        per_unit_cost = 7

    engraving_length = len(engraving)
    total_cost = base_cost + (engraving_length * per_unit_cost)
    return total_cost

In [47]:
project_one = cost_of_project("Charlie+Denver", True)
print(project_one)

240

<span style="color:red; font-size:16px;"><b>Conditions & Conditional Statements</b></span>

<div style="color:purple; font-size:16px;">
<i>
<p>Conditional statements use conditions to modify how your function runs. They check the value of a condition, and if the condition evaluates to <b>True</b>, then a certain block of code is executed. (Otherwise, if the condition is <b>False</b>, then the code is not run.)</p>
</i>
</div>

In [28]:
#if
def evaluate_temp(temp):
    # Set an initial message
    message = "Normal temperature."
    # Update value of message only if temperature greater than 38
    if temp > 38:
        message = "Fever!"
    return message

In [29]:
evaluate_temp(35)

'Normal temperature.'

In [30]:
evaluate_temp(40)

'Fever!'

In [ ]:
#if_else
def_evaluate(temp):
     if(temp>37):
         message="fever"
     else:
         message="normal temperature"

return message

In [32]:
evaluate_temp(40)

'Fever!'

In [36]:
evaluate_temp(35)

'Normal temperature.'

In [37]:
#if__elif__else
def evaluate_temp_with_elif(temp):
    if temp > 38:
        message = "Fever!"
    elif temp > 35:
        message = "Normal temperature."
    else:
        message = "Low temperature."
    return message

In [38]:
 evaluate_temp_with_elif(48)

'Fever!'

In [39]:
def get_taxes(earnings):
    if earnings < 12000:
        tax_owed = .25 * earnings
    else:
        tax_owed = .30 * earnings
    return tax_owed

In [40]:
get_taxes(40000)

12000.0

In [ ]:
##Question
In the exercise for the previous lesson, you wrote a function cost_of_project() that estimated the price of rings for an online shop that sells rings with custom engravings. This function did not use conditional statements. In this exercise, you will rewrite the function to use conditional statements. Recall that the online shop has the following price structure:

Gold plated rings have a base cost of $50, and you charge \$7 per engraved unit.
Solid gold rings have a base cost of $100, and you charge \$10 per engraved unit.
Spaces and punctuation are counted as engraved units.
Your function cost_of_project() takes two arguments:

engraving - a Python string with the text of the engraving
solid_gold - a Boolean that indicates whether the ring is solid gold
It should return the cost of the project.

In [48]:
def cost_of_project(engraving, solid_gold):
    if solid_gold == True:
        base_cost = 100
        engraving_charge = 10
    else:
        base_cost = 50
        engraving_charge = 7
    cost = base_cost + len(engraving) * engraving_charge
    return cost

In [52]:
 cost_of_project("Raman",True)

150

In [ ]:
<!-- Programmer at a water agency -->

### ðŸ’§ Water Bill Calculation Task

You are a programmer at a water agency. Recently, you have been tasked to write a function `get_water_bill()` that takes as input:

- `num_gallons`: the number of gallons of water that a customer used that month.  
  *(This will always be an integer with no decimal part.)*

It should output the **water bill**.

---

### ðŸ’µ Water Pricing Structure:

| Tier   | Gallon Range        | Price per 1000 Gallons |
|--------|---------------------|-------------------------|
| Tier 1 | 0 â€“ 8,000           | $5                     |
| Tier 2 | 8,001 â€“ 22,000      | $6                     |
| Tier 3 | 22,001 â€“ 30,000     | $7                     |
| Tier 4 | 30,001+             | $10                    |

---

### ðŸ§ª Examples:

- `get_water_bill(10000)` â†’ `60.0`  
  â†’ Placed in Tier 2 â†’ $6 Ã— 10 = **$60**

- `get_water_bill(25000)` â†’ `175.0`  
  â†’ Placed in Tier 3 â†’ $7 Ã— 25 = **$175**

ðŸ“ **Do not round your answer.** Your answer may include fractions of a penny.

In [53]:
def get_water_bill(num_gallons):
    if(num_gallons>=0 and num_gallons<=8000):
       bill = 5*num_gallons
    elif(num_gallons>=8001 and num_gallons<=22000):
        bill=6*num_gallons
    elif(num_gallons>=22001 and num_gallons<=30000):
        bill=7*num_gallons
    else:
        bill=10*num_gallons
    
    return bill/1000

In [54]:
get_water_bill(100000)

1000.0