<span style="color:blue">DAY-5</span>

<span style="color:red;"><b> Python and Patterns </b></span>

In [2]:
# # printing pattern
# # * # * #
# * # * # *
# # * # * #
#  * # * # *

In [5]:
for i in range(4):  # 4 rows
    for j in range(5):  # 5 characters per row
        if (i + j) % 2 == 0:
            print("#", end=" ")
        else:
            print("*", end=" ")
    print()  # move to next line after each row

# * # * #
* # * # *
# * # * #
* # * # *

In [16]:
li = [2, 534, 12, 67, 89, 111]
r = max(li)        # r = 534
li.remove(r)       # actually removes 534 from list
s = max(li)        # now gets second largest

print("second largest number", s)

second largest number 111

<!DOCTYPE html>
<html>
<head>
 
</head>
<body style="background-color: white;">

<h2 style="color: purple; font-style: italic;">
  What is an Array?
</h2>

<p style="color: purple; font-style: italic;">
  An array is a special variable, which can hold more than one value at a time.
</p>

<p style="color: purple; font-style: italic;">
  If you have a list of items (a list of car names, for example), storing the cars in single variables could look like this:
</p>

<pre style="color: purple; font-style: italic; font-family: 'Courier New', monospace;">
car1 = "Ford"
car2 = "Volvo"
car3 = "BMW"
</pre>

<p style="color: purple; font-style: italic;">
  However, what if you want to loop through the cars and find a specific one? And what if you had not 3 cars, but 300?
</p>

<p style="color: purple; font-style: italic;">
  The solution is an array!
</p>

<p style="color: purple; font-style: italic;">
  An array can hold many values under a single name, and you can access the values by referring to an index number.
</p>

</body>
</html>

In [20]:
arr = [1, 2, 43, 78, 90]  # No parentheses needed around the list

print(arr)

[1, 2, 43, 78, 90]

In [22]:
import numpy as np

arr = np.array([1, 2, 43, 78, 90])
print(arr.ndim)  # Output: 1 (1-dimensional array)

1

In [23]:
arr.shape

(5,)

In [26]:
array=[1,23,56,78,7]

In [29]:
array[3]

78

In [32]:
arr1=([1,23,56,78,7],[6,8,9,89,3])

In [33]:
print(arr1)

([1, 23, 56, 78, 7], [6, 8, 9, 89, 3])

In [35]:
arr = np.arr1=([1,23,56,78,7],[6,8,9,89,3])

In [40]:
import numpy as np

arr = np.array([[1, 23, 56, 78, 7], 
                [6, 8, 9, 89, 3]])

print(arr[:, 1::2])

[[23 78]
 [ 8 89]]

In [41]:
np.max(arr1,axis=0)

array([ 6, 23, 56, 89,  7])