<span style="color:blue">DAY-9</span>

<span style="color:red;"><b> STRINGS </b></span>

In [1]:
a = '\tHELLO'  # String with tab character (\t) before HELLO
b = r'\tHELLO'  # Raw string, treats \t as two separate characters '\' and 't'

print(a)  # This will print:   (tab space) HELLO  --> The \t adds a horizontal tab
print(b)  # This will print:   \tHELLO  --> The \t is printed as it is (no tab space)

	HELLO
\tHELLO

In [2]:
import re

In [3]:
# re.match()
# Checks for a match only at the beginning of the string

# Returns a match object if found, else None

In [4]:
result = re.match(r'Hello', 'Hello World')
print(result)  # Match found

<re.Match object; span=(0, 5), match='Hello'>

In [5]:
result = re.match(r'World', 'Hello World')
print(result)  # None (since 'World' is not at the beginning)

None

In [6]:
# re.search()
# Searches the entire string for the first match

# Returns a match object if found, else None

In [7]:
result = re.search(r'World', 'Hello World')
print(result)  # Match found (even though 'World' is not at the beginning)

<re.Match object; span=(6, 11), match='World'>

In [8]:
# re.findall()
# Returns all non-overlapping matches in a list

# If no match, returns an empty list

In [9]:
result = re.findall(r'\d+', 'My phone number is 12345 and pin is 67890')
print(result)  # ['12345', '67890']

['12345', '67890']

In [10]:
# re.finditer()
# Returns an iterator yielding match objects for all matches

# You can loop over the iterator to access each match

In [11]:
result = re.finditer(r'\d+', 'My phone number is 12345 and pin is 67890')
for match in result:
    print(match.group())  # Prints: 12345 then 67890

12345
67890

In [12]:
import re  # Import the regular expression module

my_string = 'abc123ABC123abc'  # The string to search in

pattern = re.compile(r'abc')  # Compiling a regex pattern to match 'abc' exactly

matches = pattern.match(my_string)  # Using match() → checks only at the beginning of my_string
# Since 'abc' is at the beginning, this will return a match object

print(matches.group())  # Output the matched text → will print 'abc'

abc

In [13]:
pattern=re.compile(r'123')
matches=pattern.findall(my_string)
for match in matches:
    print(match)

123
123

In [14]:
match=pattern.search(my_string)
print(match)

<re.Match object; span=(3, 6), match='123'>

In [15]:
print(match.span(),match.start(),match.end())

(3, 6) 3 6

In [16]:
print(match.group())

123

<table border="1" style="border-collapse: collapse; color: purple; font-weight: bold;">
  <tr>
    <th>Meta Character</th>
    <th>Meaning</th>
    <th>Example</th>
    <th>Matches</th>
  </tr>
  <tr>
    <td>.</td>
    <td>Any single character except newline</td>
    <td>a.b</td>
    <td>acb, a1b</td>
  </tr>
  <tr>
    <td>^</td>
    <td>Start of string</td>
    <td>^abc</td>
    <td>abc123 (but not 123abc)</td>
  </tr>
  <tr>
    <td>$</td>
    <td>End of string</td>
    <td>abc$</td>
    <td>123abc</td>
  </tr>
  <tr>
    <td>*</td>
    <td>0 or more repetitions</td>
    <td>ab*</td>
    <td>a, ab, abb, abbb</td>
  </tr>
  <tr>
    <td>+</td>
    <td>1 or more repetitions</td>
    <td>ab+</td>
    <td>ab, abb (but not a)</td>
  </tr>
  <tr>
    <td>?</td>
    <td>0 or 1 occurrence</td>
    <td>ab?</td>
    <td>a or ab</td>
  </tr>
  <tr>
    <td>{n}</td>
    <td>Exactly n times</td>
    <td>a{3}</td>
    <td>aaa</td>
  </tr>
  <tr>
    <td>{n,}</td>
    <td>n or more times</td>
    <td>a{2,}</td>
    <td>aa, aaa, aaaa</td>
  </tr>
  <tr>
    <td>{n,m}</td>
    <td>Between n and m times</td>
    <td>a{2,4}</td>
    <td>aa, aaa, aaaa</td>
  </tr>
  <tr>
    <td>[]</td>
    <td>Character set</td>
    <td>[abc]</td>
    <td>a, b, or c</td>
  </tr>
  <tr>
    <td>[^]</td>
    <td>Negated set</td>
    <td>[^abc]</td>
    <td>Any character except a, b, c</td>
  </tr>
  <tr>
    <td>\</td>
    <td>Escape character</td>
    <td>\.</td>
    <td>Literal .</td>
  </tr>
  <tr>
    <td>|</td>
    <td>OR operator</td>
    <td>a|b</td>
    <td>a or b</td>
  </tr>
  <tr>
    <td>()</td>
    <td>Grouping</td>
    <td>(ab)+</td>
    <td>ab, abab, ababab</td>
  </tr>
</table>

In [17]:
import re

text = "abc 123 abc456"

# Match 'abc' at start of string
print(re.match(r'^abc', text))  # ✅ Match object

# Search '123' anywhere
print(re.search(r'123', text))  # ✅ Match object

# Find all digits (one or more)
print(re.findall(r'\d+', text))  # ✅ ['123', '456']

# Find anything that ends with '456'
print(re.search(r'456$', text))  # ✅ Match object

<re.Match object; span=(0, 3), match='abc'>
<re.Match object; span=(4, 7), match='123'>
['123', '456']
<re.Match object; span=(11, 14), match='456'>

In [18]:
test_string='python-engineers.com'
pattern=re.compile(r'\.')
matches=pattern.finditer(test_string)
for match in matches:
    print(match)

<re.Match object; span=(16, 17), match='.'>

<table border="1" style="border-collapse: collapse; color: purple; font-weight: bold;">

  <tr>
    <th>Category</th>
    <th>Meta Character</th>
    <th>Meaning</th>
    <th>Example</th>
    <th>Matches</th>
  </tr>

  <!-- Anchors & Boundaries -->
  <tr><td colspan="5" style="text-align:center; background-color: #f0e6ff;">Anchors & Boundaries</td></tr>

  <tr><td>Anchors & Boundaries</td><td>^</td><td>Start of string</td><td>^abc</td><td>Matches if string starts with 'abc'</td></tr>
  <tr><td>Anchors & Boundaries</td><td>$</td><td>End of string</td><td>abc$</td><td>Matches if string ends with 'abc'</td></tr>
  <tr><td>Anchors & Boundaries</td><td>\b</td><td>Word boundary</td><td>\babc\b</td><td>Matches 'abc' as a separate word</td></tr>
  <tr><td>Anchors & Boundaries</td><td>\B</td><td>Non-word boundary</td><td>\Babc\B</td><td>Matches 'abc' inside words (not at boundary)</td></tr>

  <!-- Character Classes -->
  <tr><td colspan="5" style="text-align:center; background-color: #f0e6ff;">Character Classes (Shortcuts)</td></tr>

  <tr><td>Character Classes</td><td>\d</td><td>Digit (0-9)</td><td>\d</td><td>Matches digits like 5</td></tr>
  <tr><td>Character Classes</td><td>\D</td><td>Non-digit</td><td>\D</td><td>Matches characters like a</td></tr>
  <tr><td>Character Classes</td><td>\w</td><td>Alphanumeric or underscore</td><td>\w</td><td>Matches a, 5, _</td></tr>
  <tr><td>Character Classes</td><td>\W</td><td>Non-word character</td><td>\W</td><td>Matches @, #</td></tr>
  <tr><td>Character Classes</td><td>\s</td><td>Whitespace character</td><td>\s</td><td>Matches space, tab, newline</td></tr>
  <tr><td>Character Classes</td><td>\S</td><td>Non-whitespace character</td><td>\S</td><td>Matches letters, numbers</td></tr>

  <!-- Quantifiers -->
  <tr><td colspan="5" style="text-align:center; background-color: #f0e6ff;">Quantifiers</td></tr>

  <tr><td>Quantifiers</td><td>*</td><td>0 or more repetitions</td><td>a*</td><td>Matches '', 'a', 'aa'</td></tr>
  <tr><td>Quantifiers</td><td>+</td><td>1 or more repetitions</td><td>a+</td><td>Matches 'a', 'aa'</td></tr>
  <tr><td>Quantifiers</td><td>?</td><td>0 or 1 occurrence</td><td>a?</td><td>Matches '', 'a'</td></tr>
  <tr><td>Quantifiers</td><td>{n}</td><td>Exactly n times</td><td>a{3}</td><td>Matches 'aaa'</td></tr>
  <tr><td>Quantifiers</td><td>{n,}</td><td>n or more times</td><td>a{2,}</td><td>Matches 'aa', 'aaa'</td></tr>
  <tr><td>Quantifiers</td><td>{n,m}</td><td>Between n and m times</td><td>a{2,4}</td><td>Matches 'aa', 'aaa', 'aaaa'</td></tr>

  <!-- Groups & Lookarounds -->
  <tr><td colspan="5" style="text-align:center; background-color: #f0e6ff;">Groups & Lookarounds</td></tr>

  <tr><td>Groups & Lookarounds</td><td>()</td><td>Grouping</td><td>(ab)+</td><td>Matches 'ab', 'abab'</td></tr>
  <tr><td>Groups & Lookarounds</td><td>|</td><td>OR operator</td><td>a|b</td><td>Matches 'a' or 'b'</td></tr>
  <tr><td>Groups & Lookarounds</td><td>(?=...)</td><td>Positive lookahead</td><td>a(?=b)</td><td>Matches 'a' only if 'b' follows</td></tr>
  <tr><td>Groups & Lookarounds</td><td>(?!...)</td><td>Negative lookahead</td><td>a(?!b)</td><td>Matches 'a' only if 'b' does not follow</td></tr>
  <tr><td>Groups & Lookarounds</td><td>(?&lt;=...)</td><td>Positive lookbehind</td><td>(?&lt;=a)b</td><td>Matches 'b' only if preceded by 'a'</td></tr>
  <tr><td>Groups & Lookarounds</td><td>(?&lt;!...)</td><td>Negative lookbehind</td><td>(?&lt;!a)b</td><td>Matches 'b' only if not preceded by 'a'</td></tr>

  <!-- Escaping -->
  <tr><td colspan="5" style="text-align:center; background-color: #f0e6ff;">Escaping Special Characters</td></tr>

  <tr><td>Escaping</td><td>\</td><td>Escape special characters</td><td>\$</td><td>Matches literal '$'</td></tr>

</table>

In [19]:
test_string="hello 123_heyho hohey"

In [23]:
pattern=re.compile(r'\d')
matches=pattern.findall(test_string)
for match in matches:
    print(match)

1
2
3

In [24]:
pattern=re.compile(r'\S')
matches=pattern.finditer(test_string)
for match in matches:
    print(match)

<re.Match object; span=(0, 1), match='h'>
<re.Match object; span=(1, 2), match='e'>
<re.Match object; span=(2, 3), match='l'>
<re.Match object; span=(3, 4), match='l'>
<re.Match object; span=(4, 5), match='o'>
<re.Match object; span=(6, 7), match='1'>
<re.Match object; span=(7, 8), match='2'>
<re.Match object; span=(8, 9), match='3'>
<re.Match object; span=(9, 10), match='_'>
<re.Match object; span=(10, 11), match='h'>
<re.Match object; span=(11, 12), match='e'>
<re.Match object; span=(12, 13), match='y'>
<re.Match object; span=(13, 14), match='h'>
<re.Match object; span=(14, 15), match='o'>
<re.Match object; span=(16, 17), match='h'>
<re.Match object; span=(17, 18), match='o'>
<re.Match object; span=(18, 19), match='h'>
<re.Match object; span=(19, 20), match='e'>
<re.Match object; span=(20, 21), match='y'>

In [25]:
pattern=re.compile(r'\w')
matches=pattern.finditer(test_string)
for match in matches:
    print(match)

<re.Match object; span=(0, 1), match='h'>
<re.Match object; span=(1, 2), match='e'>
<re.Match object; span=(2, 3), match='l'>
<re.Match object; span=(3, 4), match='l'>
<re.Match object; span=(4, 5), match='o'>
<re.Match object; span=(6, 7), match='1'>
<re.Match object; span=(7, 8), match='2'>
<re.Match object; span=(8, 9), match='3'>
<re.Match object; span=(9, 10), match='_'>
<re.Match object; span=(10, 11), match='h'>
<re.Match object; span=(11, 12), match='e'>
<re.Match object; span=(12, 13), match='y'>
<re.Match object; span=(13, 14), match='h'>
<re.Match object; span=(14, 15), match='o'>
<re.Match object; span=(16, 17), match='h'>
<re.Match object; span=(17, 18), match='o'>
<re.Match object; span=(18, 19), match='h'>
<re.Match object; span=(19, 20), match='e'>
<re.Match object; span=(20, 21), match='y'>

<table border="1" cellpadding="5" cellspacing="0" style="border-collapse: collapse; color: purple; font-family: Arial;">
  <thead style="background-color: #f3e5f5; color: purple;">
    <tr>
      <th>Pattern</th>
      <th>Meaning</th>
      <th>Matches Examples</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>[arn]</code></td>
      <td>Matches <strong>one character</strong>: <code>a</code>, <code>r</code>, or <code>n</code></td>
      <td><code>a</code>, <code>r</code>, <code>n</code></td>
    </tr>
    <tr>
      <td><code>[a-n]</code></td>
      <td>Matches <strong>any lowercase letter</strong> from <code>a</code> to <code>n</code></td>
      <td><code>a</code>, <code>b</code>, ..., <code>n</code></td>
    </tr>
    <tr>
      <td><code>[^arn]</code></td>
      <td>Matches <strong>any character except</strong> <code>a</code>, <code>r</code>, or <code>n</code></td>
      <td><code>b</code>, <code>c</code>, <code>z</code>, <code>1</code></td>
    </tr>
    <tr>
      <td><code>[0123]</code></td>
      <td>Matches <strong>one digit</strong> <code>0</code>, <code>1</code>, <code>2</code>, or <code>3</code></td>
      <td><code>0</code>, <code>1</code>, <code>2</code>, <code>3</code></td>
    </tr>
    <tr>
      <td><code>[0-9]</code></td>
      <td>Matches <strong>any single digit</strong> (0–9)</td>
      <td><code>0</code>, <code>5</code>, <code>9</code></td>
    </tr>
    <tr>
      <td><code>[0-5]</code></td>
      <td>Matches <strong>digits</strong> <code>0</code> to <code>5</code> only</td>
      <td><code>0</code>, <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, <code>5</code></td>
    </tr>
    <tr>
      <td><code>[a-zA-Z]</code></td>
      <td>Matches <strong>any uppercase or lowercase English letter</strong></td>
      <td><code>a</code>, <code>b</code>, ..., <code>z</code>, <code>A</code>, <code>B</code>, ..., <code>Z</code></td>
    </tr>
  </tbody>
</table>

In [26]:
import re

text = "Ram123an"

# Find all a, r, or n
print(re.findall(r'[arn]', text))  # ['R', 'a', 'a', 'n']

# Find all digits 0-3
print(re.findall(r'[0123]', text))  # ['1', '2', '3']

# Find letters a-n only
print(re.findall(r'[a-n]', text))  # ['a', 'm', 'a', 'n']

# Find letters NOT a, r, n
print(re.findall(r'[^arn]', text))  # ['m', '1', '2', '3']

# Find all letters
print(re.findall(r'[a-zA-Z]', text))  # ['R', 'a', 'm', 'a', 'n']

['a', 'a', 'n']
['1', '2', '3']
['a', 'm', 'a', 'n']
['R', 'm', '1', '2', '3']
['R', 'a', 'm', 'a', 'n']